/*
author:wang rao
2-17-03-09
task9 ifebaidu
*/
*{
	padding:0;
	margin:0;

}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
/*头部*/
header{
	background:#2189BF;
	height: 57px;
	width: 100%;
}
header h1{
	width: 36px;
	height: 46px;
	background: url(images/logo.png) no-repeat center bottom;
	margin-left: 50px;
	text-indent: -9999px;
	float: left;
}
 header form{
	width: 377px;
	height: 28px;
	float: right;
	margin-top: 12px;
	margin-right: 91px;
	border-radius:20%;
} 
header form input.searchtext{
	width: 278px;
	height: 28px;
	border:0;
	border-radius: 14px;
	padding-left: 35px;
	background:#fff url(images/search_icon.png) no-repeat 12px center;
	
}
 header form a{
 	display: block;
 	width: 25px;
 	height: 28px;
 	color:#fff;
 	line-height: 30px;
 	float: right;
 	font-size: 12px;
 	padding-left: 19px;
 	text-decoration: none;
 	background: transparent url(images/login_icon.png) no-repeat left center;
 }
 /*头部 end*/
 .container{
 	width: 100%;
 	height:auto;
 	background:#2B2E3D;
 }
 /*侧栏*/
aside{
	width: 261px;
	height: auto;
	background:#2B2E3D;
	float: left;
	
}
/*登录信息*/
.login_info{
	width: 131px;
	height: 115px;
	padding:18px 84px 18px 46px;
	color: #fff;
	font-size: 16px;
	background: transparent url(images/login_head.png) no-repeat 46px 18px;
}
.login_info a{
	display: inline-block;
	font-family: "黑体";
	line-height: 57px;
	height: 57px;
	margin-left: 72px;
	color: #fff;
}
.login_info ul{
	height: 36px;
	padding: 20px 0 0 16px;
}
.login_info ul li{
	width: 56px;
	float: left;
}
.login_info ul li.last{
	width: 54px;
	border-left: 2px solid #323647;
	text-align: right;
}
.login_info ul li span{
	display: block;
	font-size: 12px;
}
/*侧栏菜单*/
ul.menu{
	width: 261px;
	font-family: "黑体";
}
ul.menu a{
	display: inline-block;
	color: #6D8095;
	font-size: 12px;
<<<<<<< HEAD
	height: 13px;
	line-height: 13px;
}
=======
	vertical-align: top;
}


>>>>>>> tem
/*一级菜单*/
ul.menu li{
	height: 34px;
	padding: 14px 0;
}
ul.menu li.active{
	background: #383D4E;
	color: #fff;
	height: 191px;
}
<<<<<<< HEAD

=======
>>>>>>> tem
ul.menu li a{	
	padding-left: 46px;
}

<<<<<<< HEAD
ul.menu li a:hover,ul.menu li.active .child a:hover,ul.menu li.active ul.child ul.thirst li a:hover{
	color:#fff;
}
=======
>>>>>>> tem
ul.menu li a:before{
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 10px;
	background: url(images/menu_icon.png) no-repeat;
<<<<<<< HEAD
=======
	vertical-align: top;
>>>>>>> tem
}

ul.menu li a.file:before{
	background-position: 0 0;
}
ul.menu li a.star:before{
	background-position: 0 -13px;
}
ul.menu li a.share:before{
	background-position: 0 -25px;
}
ul.menu li a.tick:before{
	background-position: 0 -38px;
}
<<<<<<< HEAD
ul.menu li.active a,ul.menu li.active .child li.on a{
	color: #fff;
	vertical-align:top;
}
/*二级菜单*/
ul.menu li.active .child a,ul.menu li.active ul.child ul.thirst li a{
	color: #6D8095;
}
ul.menu li .child li a:before{
	margin-right: 4px;
}
ul.menu li.active ul.child li{
=======
/*侧栏公共部分*/

ul.menu li.active a,ul.menu ul.child li.on a,ul.menu ul.child ul.thirst li.now a{
	color: #fff;	
}
ul.menu li a:hover,ul.menu li.active .child a:hover,ul.menu li.active ul.child ul.thirst li a:hover{
	color:#fff;
}
ul.menu ul.child a,ul.menu ul.child ul.thirst li a{
	color: #6D8095;
}
/*二级菜单*/

ul.menu ul.child li a:before{
	margin-right: 4px;
}
ul.menu ul.child li{
>>>>>>> tem
	height: 21px;
	padding: 0;
	padding-left: 42px;
	padding-top: 10px;
	vertical-align: top;
	background:transparent url(images/icon_li1.png) no-repeat 68px 10px;
}
<<<<<<< HEAD
ul.menu li.active .child li.on{
	height: 75px;
	background:transparent url(images/icon_li2.png) no-repeat 68px 10px;
}
ul.menu li.active .child li a:before{
	background-position: -45px 1px;
}
ul.menu li.active .child li.on a:before{
	background-position: -45px -13px;
}
/*三级菜单*/
ul.menu li.active ul.child ul.thirst{
=======
ul.menu .child li.on{
	height: 75px;
	background:transparent url(images/icon_li2.png) no-repeat 68px 10px;
}
ul.menu .child li a:before{
	background-position: -45px 1px;
}
ul.menu .child li.on a:before{
	background-position: -45px -13px;
}
/*三级菜单*/
ul.menu ul.child ul.thirst{
>>>>>>> tem
	height: 60px;
	padding:0;
	margin:0;
}
<<<<<<< HEAD
ul.menu li.active ul.child ul.thirst li{
	height: 15px;

	height: 20px;
=======
ul.menu ul.child ul.thirst li{
	height: 15px;
>>>>>>> tem
	padding:0;
	margin:0;
	padding-top: 10px;
	background: none;
<<<<<<< HEAD
	
}
ul.menu li.active ul.child ul.thirst li a:before{

	background-position: -31px -46px;
}
=======
}
ul.menu ul.child ul.thirst li a{
	padding-left: 62px;
}
ul.menu ul.child ul.thirst li a:before{
	background-position: -31px -45px;
}
ul.menu ul.child ul.thirst li.now a:before{
	background-position: -46px -45px;
}
/*右侧内容区*/
>>>>>>> tem
article{
	background: #EDEDEC;
	margin-left: 262px;
	height: auto;
}