		body{
			
		}
		.clearfix{
			overflow: auto;
			_zomm:1;

		}
		.clearfix:after{
			content: "";
			display: block;
			clear: both;
			height: 0;
			visibility: hidden;
		}
		.container{
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 20px;
			border:1px solid #999;
		}
		.row{
			margin-left: 10px;
			margin-right: 10px;		
		}
		.my-lg-4,.my-lg-3,.my-lg-6,.my-lg-1,.my-lg-2,.my-lg-8,.my-lg-12,.my-xs-3,.my-xs-6,.my-xs-12,.my-md-1,.my-md-2,.my-md-6{
			height: 50px;
			border:1px solid #999;
			background:#eee;
			margin:0 10px;
			margin-top: 20px;
			padding:0 8px;
		}
		/*520px到760px宽度之间*/
		 @media (min-width: 520px)and (max-width: 760px){
		 	.container{
		 		width: 500px;
		 	}
			.my-xs-3{
				float: left;
				width: 19%;
			}
			.my-xs-6{
				float: left;
				width: 37.8%;
			}
		} 
		/*大于等于768px*/
		@media (min-width: 768px){
			.container{
				width: 700px;
			}
			.my-md-1{
				width: 6.5%;
				float: left;
			}
			.my-md-2{
				width: 10%;
				float: left;
			}
			.my-xs-6,.my-md-6{
				width: 38.96%;
				float:left;
			}
			.my-xs-3{
				width: 22%;
				float: left;
			}

		}
		/*大于等于1200px*/
		@media(min-width: 1200px){
			.container{
				width: 1170px;
			}
			.my-md-1{
				width: 6%;
				float: left;
			}
			.my-md-2{
				width: 15.7%;
				float: left;
			}
			.my-lg-4,.my-md-4{
				width: 29.999%;
				float: left;
			}
			.my-lg-3,.my-xs-3{
				width: 25%;
				float: left;
			}
			.my-lg-6,.my-xs-6,.my-md-6{
				width: 39.96%;
				float: left;
			}
			
		}
		/*大于等于1920px*/
		@media(min-width: 1920px){
			.container{
				width: 1875px;
			}
			.my-md-1{
				width: 9%;
				float: left;
			}
			.my-md-2{
				width: 15.899%;
				float: left;
			}
			.my-lg-4,.my-md-4{
				width: 31.28%;
				float: left;		
			}
			.my-lg-3{
				width: 25%;
				float: left;
			}
			.my-lg-6,.my-xs-6{
				width: 43.85%;
				float: left;
			}
		}